<% include partials/header %>
<style>
    th{
        color : black;text-align : center;
    }
</style>
<% function returnDate(reversed){ %>
    <% var date = reversed.slice(reversed.length-2,reversed.length) %>
    <% var month = reversed.slice(reversed.length-5,reversed.length-3) %>
    <% var year = reversed.slice(reversed.length-10,reversed.length-6) %>
    <% var DATE = date + "-" + month + "-" + year %>
    <% return DATE %>
 <%} %>
 <section class="hero-wrap hero-wrap-2" style="background-image: url('https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread"><%= playerInfo["player"]["full_name"] %></h1>
            <h3 class="mb-3 bread" style="color : white">(<%= playerInfo["player"]["nationality"].toUpperCase() %>)</h3>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Game Report <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
    
    <h2>PERSONAL DETAILS </h2>
    <table class="table table-striped">
        <tr class="bg-dark">
            <th style="color : white">DATE OF BIRTH</th>
            <th style="color : white">ROLE</th>
            <% if(playerInfo["player"].hasOwnProperty("batting_style")){ %>
                <th style="color : white">BATTING STYLE</th>
            <% } %>
            <% if(playerInfo["player"].hasOwnProperty("bowling_style")){ %>
                <th style="color : white">BOWLING STYLE</th>
            <% } %>
            <th style="color : white">TEAMS</th>
        </tr>
        <tr>
            <th> <%= returnDate(playerInfo["player"]["date_of_birth"]) %> </th>
            <th> <%= playerInfo["player"]["type"].toUpperCase() %> </th>
            <% if(playerInfo["player"].hasOwnProperty("batting_style")){ %>
                <th> <%= playerInfo["player"]["batting_style"].toUpperCase() %> </th>
            <% } %>
            <% if(playerInfo["player"].hasOwnProperty("bowling_style")){ %>
                <th> <%= playerInfo["player"]["bowling_style"].toUpperCase() %> </th>
            <% } %>            
            <th> <% playerInfo["teams"].forEach(function(team){ %>
                <%= team["name"] %> ,
            <% }) %>
        </th>
        </tr>
    </table>
    <h2>BATTING STATS</h2>
    <table class="table table-hover table-striped">
        <tr class="bg-dark">
            <th style="color : white;" >FORMAT</th>
            <th style="color : white;" >MATCHES</th>
            <th style="color : white;" >INNGS</th>
            <th style="color : white;" >RUNS</th>
            <th style="color : white;" >AVG</th>
            <th style="color : white;" >HS</th>
            <th style="color : white;" >BALLS</th>
            <th style="color : white;" >SR</th>
            <th style="color : white;" >NOs</th>
            <th style="color : white;" >50s</th>
            <th style="color : white;" >100s</th>
            <th style="color : white;" >4s</th>
            <th style="color : white;" >6s</th>
        </tr>
             <% playerInfo["statistics"]["tournaments"].forEach(function(stats){ %>
                <tr>
                    <th class="table-primary"> <%= stats["type"].toUpperCase() %> </th>
                    <th class="table-secondary"> <%= stats["batting"]["matches"]  %> </th>
                    <th class="table-success"> <%= stats["batting"]["innings"]  %> </th>
                    <th class="table-danger"> <%= stats["batting"]["runs"]  %> </th>
                    <th  class="table-warning"> <%= stats["batting"]["average"]  %> </th>
                    <th class="table-info"> <%= stats["batting"]["highest_score"]  %> </th>
                    <th class="table-light"> <%= stats["batting"]["balls_faced"]  %> </th>
                    <th class="bg-secondary"> <%= stats["batting"]["strike_rate"]  %> </th>
                    <th class="bg-danger"> <%= stats["batting"]["not_outs"]  %> </th>
                    <th class="bg-info"> <%= stats["batting"]["fifties"]  %> </th>
                    <th class="bg-warning"> <%= stats["batting"]["hundreds"]  %> </th>
                    <th class="bg-success"> <%= stats["batting"]["fours"]  %> </th>
                    <th class="table-dark"> <%= stats["batting"]["sixes"]  %> </th>
                </tr>
            <% }) %>   
    </table>

    <h2>BOWLING STATS</h2>
    <table class="table table-hover table-striped">
        <tr class="bg-dark">
            <th style="color : white">FORMAT</th>
            <th style="color : white">MATCHES</th>
            <th style="color : white">INNGS</th>
            <th style="color : white">WKTS</th>
            <th style="color : white">BALLS</th>
            <th style="color : white">AVG</th>
            <th style="color : white">SR</th>
            <th style="color : white">ECO</th>
            <th style="color : white">4Ws</th>
            <th style="color : white">5Ws</th>
            <th style="color : white">10Ws</th>
        </tr>
        <% playerInfo["statistics"]["tournaments"].forEach(function(stats){ %>
            <tr>
                <th class="table-primary"> <%= stats["type"].toUpperCase() %> </th>
                <th class="table-secondary"> <%= stats["bowling"]["matches"] %> </th>
                <th class="table-success"> <%= stats["bowling"]["innings"] %> </th>
                <th class="table-info"> <%= stats["bowling"]["wickets"] %> </th>
                <th class="table-light"> <%= stats["bowling"]["balls_bowled"] %> </th>
                <th class="bg-secondary"> <%= stats["bowling"]["average"] %> </th>
                <th class="bg-danger"> <%= stats["bowling"]["strike_rate"] %> </th>
                <th class="bg-info"> <%= stats["bowling"]["economy"] %> </th>
                <th class="bg-warning"> <%= stats["bowling"]["four_wicket_hauls"] %> </th>
                <th class="bg-primary"> <%= stats["bowling"]["five_wicket_hauls"] %> </th>
                <th class="table-dark"> <%= stats["bowling"]["ten_wicket_hauls"] %> </th>
            </tr>
        <% }) %>
    </table>

    <h2>FIELDING STATS</h2>
    <table class="table table-hover table-striped">
        <tr class="bg-dark">
            <th style="color : white">FORMAT</th>
            <th style="color : white">CATCH</th>
            <th style="color : white">STUMP</th>
            <th style="color : white">RUNOUT</th>
        </tr>
        <% playerInfo["statistics"]["tournaments"].forEach(function(stats){  %>
            <tr>
                <th class="table-primary"> <%= stats["type"].toUpperCase() %> </th>
                <th class="table-secondary"> <%= stats["fielding"]["catches"] %> </th>
                <th class="table-info"> <%= stats["fielding"]["stumpings"] %> </th>
                <th class="table-danger"> <%= stats["fielding"]["runouts"] %> </th>
       <% }) %>
    </table>
</div>
<% include partials/footer %>