<% include partials/header %>
<% date = new Date() %>
<% year = date.getFullYear() %>
<% function returnDate(reversed){ %>
    <% var date = reversed.slice(reversed.length-2,reversed.length) %>
    <% var month = reversed.slice(reversed.length-5,reversed.length-3) %>
    <% var year = reversed.slice(reversed.length-10,reversed.length-6) %>
    <% var DATE = date + "-" + month + "-" + year %>
    <% return DATE %>
 <%} %>
 <% function returnHomeAndAwayPics(homeTeam,awayTeam){ %>
		<% var teamsPic = [] %>
		<% if(homeTeam.includes('Australia') ){ %>
			<% var homePic = 'images/aus.png' %>
		<%}else if(homeTeam.includes('Sri Lanka')){ %>
			<% var homePic = 'images/sriLanka.png' %>
		<%}else if(homeTeam.includes('Pakistan') ){ %>
			<% var homePic = 'images/pak.png' %>
		<%} else if(homeTeam.includes('England') ){ %>
			<% var homePic = 'images/eng.png' %>
		<%} else if(homeTeam.includes('India') ){ %>
			<% var homePic = 'images/ind.jpeg' %>
		<%} else if(homeTeam.includes('South Africa') ){ %>
			<% var homePic = 'images/southAfrica.png' %>
		<%} else if(homeTeam.includes('Zimbabwe') ){ %>
			<% var homePic = 'images/zim.jpeg' %>
		<%} else if(homeTeam.includes('West Indies') ){ %>
			<% var homePic = 'images/westIndies.png' %>
		<%}  else if(homeTeam.includes('New Zealand') ){ %>
			<% var homePic = 'images/newz.jpeg' %>
		<%} else if(homeTeam.includes('Scotland') ){ %>
			<% var homePic = 'images/scot.png' %>
		<%} else if(homeTeam.includes('Afghanistan') ){ %>
			<% var homePic = 'images/afgan.png' %>
		<%}else if(homeTeam.includes('Bangladesh') ){ %>
			<% var homePic = 'images/bangla.png' %>
		<%} else if(homeTeam.includes('Ireland') ){ %>
			<% var homePic = 'images/ireland.png' %>
		<%} else{ %>
			<% var homePic = 'images/cricket.jpeg' %>
		 <% } %>
		<% if(awayTeam.includes('Australia')){ %>
			<% var awayPic = 'images/aus.png' %>
		<%}else if(awayTeam.includes('Sri Lanka')){ %>
			<% var awayPic = 'images/sriLanka.png' %>
		<%}else if(awayTeam.includes('Pakistan') ){ %>
			<% var awayPic = 'images/pak.png' %>
		<%} else if(awayTeam.includes('England') ){ %>
			<% var awayPic = 'images/eng.png' %>
		<%} else if(awayTeam.includes('India') ){ %>
			<% var awayPic = 'images/ind.jpeg' %>
		<%} else if(awayTeam.includes('South Africa') ){ %>
			<% var awayPic = 'images/southAfrica.png' %>
		<%} else if(awayTeam.includes('Zimbabwe') ){ %>
			<% var awayPic = 'images/zim.jpeg' %>
		<%} else if(awayTeam.includes('West Indies') ){ %>
			<% var awayPic = 'images/westIndies.png' %>
		<%}else if(awayTeam.includes('New Zealand')){ %>
			<% var awayPic = 'images/newz.jpeg' %>
		<%}  else if(awayTeam.includes('Scotland') ){ %>
			<% var awayPic = 'images/scot.png' %>
		<%} else if(awayTeam.includes('Afghanistan') ){ %>
			<% var awayPic = 'images/afgan.png' %>
		<%} else if(awayTeam.includes('Bangladesh') ){ %>
			<% var awayPic = 'images/bangla.png' %>
		<%} else if(awayTeam.includes('Ireland') ){ %>
			<% var awayPic = 'images/ireland.png' %>
		<%} else{%>
			<% var awayPic = 'images/cricket.jpeg' %>
		<% }  %>
		<% teamsPic[0] = homePic %>
		<% teamsPic[1] = awayPic %>
		<% return teamsPic %>
	<%} %>

<section class="hero-wrap hero-wrap-2" style="background-image: url('https://www.greenteam92.com/wp-content/uploads/2018/04/31clarke.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span>
            </p>
          </div>
        </div>
      </div>
</section>
  
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="heading-section ftco-animate">
                    <h2 class="mb-4">Schedule Of <%= data.team.name.toUpperCase() %></h2>
                </div>
                <div class="row">
                   <% data['schedule'].forEach(function(match){ %>
                        <% if(match['scheduled'].includes(year)){ %>
                        <% var homeTeam = match['competitors'][0]['name'] %>
                        <% var awayTeam = match['competitors'][1]['name'] %>
                        <% var pics = returnHomeAndAwayPics(homeTeam,awayTeam) %>
                            <div class="col-md-12">
                                <div class="scoreboard scoreboard-2 slash">
                                    <div class="divider ftco-animate text-center mb-4"><span><%= match['tournament']['name'].toUpperCase() %></span> <br>
                                        <span>(<%= returnDate(match['scheduled'].substring(0,10)) %>)</span> <br>
                                        <span> <%=match.tournament.category.name %> <%= match.tournament.gender %> <%= match.tournament.type %> MATCH  </span>
                                    </div>
                                    <div class="sport-team-wrap ftco-animate">
                                        <span class="vs">vs</span>
                                        <div class="d-sm-flex mb-4">
                                            <div class="sport-team d-flex align-items-center">
                                                <div class="img logo" style="background-image: url(<%=pics[0]%>);"></div>
                                                    <div class="text-center px-1 px-md-3 desc">
                                                        <h4 class="team-name">
                                                             <a style="color : black" href="/scheduleOf-<%=match['competitors'][1]['id']%>">  <%= homeTeam %> </a> 
                                                        </h4>
                                                    </div>
                                            </div>
                                            <div class="sport-team d-flex align-items-center">
                                                <div class="img logo order-sm-last" style="background-image: url(<%=pics[1]%>);"></div>
                                                    <div class="text-center px-1 px-md-3 desc">
                                                        <h4 class="team-name"> 
                                                            <a style="color : black" href="/scheduleOf-<%=match['competitors'][1]['id']%>">  <%= awayTeam %> </a>
                                                        </h4>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center ftco-animate">
                                        <p class="mb-0"><a href="/match-<%=match.id%>" class="btn btn-black">More Details</a></p>
                                    </div>
                                </div>
                            </div>
                <% } %>
        <% }) %>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>