<% include partials/header %>
<link rel="stylesheet" href="../matchInfo.css">
<h1>Schedule of <%=data['team']['name'].toUpperCase() %></h1>
<% date = new Date() %>
<% year = date.getFullYear() %>
<div class="links">
        <a href="/" class="btn btn-success">HOME PAGE</a>
</div>
<table class="table table-striped table-dark" style="margin-top: 5%">
        <tr>
           <th>Team 1</th>
           <th>Team 2</th>
           <th>Match Type</th>
           <th>Date</th>
        </tr>
        <% data['schedule'].forEach(function(match){ %>
            <% if(match['scheduled'].includes(year)){ %>
                <tr>
                    <th>  <a href="/scheduleOf/<%=match['competitors'][0]['id']%>"> <%= match['competitors'][0]['name'] %> </a> </th> 
                    <th>  <a href="/scheduleOf/<%=match['competitors'][1]['id']%>">  <%= match['competitors'][1]['name'] %> </a> </th>
                    <th> <a href="/matchInfo/<%=match['id']%>"><%= match['tournament']['type'].toUpperCase() %></a> </th> 
                   <th> <%= match['scheduled'].substring(0,10) %> </th>
                </tr>
           <% } %>
        <% }) %>
    </table>

<% include partials/footer %>