<% include partials/header %>
    <h1 style="text-decoration: underline"> <%= standings["tournament"]["name"] %> </h1>
<table class="table table-hover">
    <tr class="bg-primary">
        <th>RANK</th>
        <th>NAME</th>
        <th>MATCHES</th>
        <th>WINS</th>
        <th>LOSS</th>
        <th>NO RESULT</th>
        <th>POINTS</th>
        <th>NET RUN RATE</th>
    </tr>
    <% standings["standings"].forEach(function(standing){ %>
        <% standing["groups"].forEach(function(group){ %>
            <% group["team_standings"].forEach(function(team){ %>
                <tr>
                    <th class="table-info"><%= team["rank"] %> </th>
                    <th class="table-warning"><%= team["team"]["name"] %>  </th>
                    <th class="table-danger"><%= team["played"] %> </th>
                    <th class="table-success"><%= team["win"] %> </th>
                    <th class="table-secondary"><%= team["loss"] %> </th>
                    <th class="table-dark"><%= team["no_result"] %> </th>
                    <th class="bg-danger"><%= team["points"] %> </th>
                    <th class="bg-warning"><%= team["net_run_rate"] %> </th>
                </tr>
            <% }) %>
        <% }) %>
    <% }) %>
    
</table>
    
<% include partials/footer %>